/*background image*/
body{
    background: url(road.jpg) center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Arvo', serif;
}

/*Jumbotron*/
.jumbotron{
    background-color: transparent;
    margin: 0;
    padding: 10px;
}

.jumbotron h1{
    letter-spacing: 2.5px;
}

.jumbotron h1, .jumbotron p{
    text-align: center;
}

/*Map*/
#googleMap, #output{
    width: 100%;
    height: 400px;
    margin: 10px auto;
}